#banner1{
	display: flex;
    height: 150px;
}
.banner1-left{
    width: 30%;
    font-weight: bold;

}
.banner1-right{
    width: 70%;
}
#banner2{
    display: flex;
    
}
#banner2-left{
    display: inline-block;
    width: 30%;
    height: auto;
    border-width: 0 1px 0 0 ;
    border-style: solid;
    
}
#banner2-left a{
    text-decoration: none;
}
#main{

    color: black;
    display: inline-block;
    width: 70%;
}

